<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="The best Image Search and Recognition Program">
  <meta name="author" content="Victor I. Afolabi">
  <link rel="icon" href="{{ url_for('static', filename='img/viclogo.ico') }}">
  <title>Image Search</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  {% include "template/_navbar.html" %}
  <div class="container">
