{% extends "template/_template.html" %}
{% block body %}
<div class="similarity">

{% include "inc/_flash_messages.html" %}
<hr>

<p>
  If you don't get "queen" back, something went worng and baby SkyNet cries.
</p>
<p>
  Try more examples too: <span>"he" is to "his" as "she" is to ?, "Berlin" is to "Germany" as "Paris" is to ?</span>(click to fill in).
</p>
<form>
  <ul>
    <li>
      <input type="text" value="movie" name="word-1"> is to
    </li>
    <li>
      <input type="text" value="film" name="word-2"> as
    </li>
    <li>
      <input type="text" value="program" name="word-3"> is to
    </li>
    <li>
      <input type="button" value="?" id="most-similar" class="btn btn-danger">
    </li>
  </ul>
</form>

<hr>

<p>
  Try: <span> U.S.A.; Monty_Python; PHP; Madiba</span> (click to fill in).
</p>
<form>
  <ul>
    <li>
      <input type="text" value="movie" name="word">
    </li>
    <li>
      <input type="submit" id="similar-by-word" value="Get Most Similar" class="btn btn-danger">
    </li>
  </ul>
</form>

<hr>

<p>
  Also try: <span>"baboon human chimp gorilla"; "blue red green crimson transparent"</span> (click to fill in).
</p>
<form>
  <ul>
    <li>
      <input type="text" name="phrase" value="good awesome danger nice">
    </li>
    <li>
      <input type="submit" id="doesnt-match" value="Which phrase doesn't fit?" class="btn btn-danger">
    </li>
  </ul>
</form>

</div> <!-- End similarity -->
{% endblock %}
